<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--主配置文件，包含其他配置文件的路径（classes目录下）-->
<!--    <import resource="classpath:ba06/primary_school.xml"/>-->
<!--    <import resource="classpath:ba06/primary_student.xml"/>-->
<!--    主文件不能包含自己-->
    <import resource="classpath:ba06/primary*.xml"/>

    </beans>